<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="card border-0 shadow-lg p-3 mb-5 rounded">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5>Lista de Pacientes</h5>
            </div>

            <div class="col">
              <div class="create-buttom text-right">
                <button
                  href=""
                  class="btn btn-primary shadow"
                  (click)="openFormModal()"
                >
                  Novo Cliente
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table *ngIf="responsePatients" class="table" id="myTable">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>name</th>
                <th>email</th>
                <th>gender</th>
                <th>telephone</th>
                <!-- <th>birth date</th>
                <th>last attendance</th> -->
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let patient of responsePatients.data;
                  let enumerate = index
                "
              >
                <td>{{ enumerate + 1 }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.telephone }}</td>
                <!-- <td>{{patient.birthDate}}</td>
                <td>{{patient.lastAttendance}}</td> -->
                <td>
                  <button href="" class="btn btn-sm btn-info" (click)="[openViewModal(patient, templateView)]">
                    <i-bs name="eye-fill"></i-bs>
                  </button>
                  <button href="" class="btn btn-sm btn-primary" (click)="[childForm.onEdit(patient), openFormModal()]">
                    <i-bs name="pencil-fill"></i-bs>
                  </button>
                  <button href="" class="btn btn-sm btn-danger">
                    <i-bs name="trash2-fill"></i-bs>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-model-form [onHide]="modalRef" #childForm></app-model-form>

<!--CONTEUDO DA JANELA MODAL VIEW -->
<ng-template #templateView>
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">Detalhes do Paciente</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Nome: {{initialState.name}}</li>
      <li class="list-group-item">Email: {{initialState.email}}</li>
      <li class="list-group-item">Sexo: {{initialState.gender}}</li>
      <li class="list-group-item">Telefone: {{initialState.telephone}}</li>
      <li class="list-group-item">Data de Nascimento: {{initialState.birthDate}}</li>
      <li class="list-group-item">Data da última Visita: {{initialState.lastAttendance}}</li>
    </ul>
  </div>
</ng-template>


