<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="card border-0 shadow-lg p-3 mb-5 rounded">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5>Lista de Pacientes</h5>
            </div>

            <div class="col">
              <div class="create-buttom text-right">
                <button
                  href=""
                  class="btn btn-primary shadow"
                  (click)="childForm.openFormModal()"
                >
                  Novo Cliente
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table *ngIf="responsePatients" class="table" datatable id="myTable">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>name</th>
                <th>email</th>
                <th>gender</th>
                <th>telephone</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let patient of responsePatients;
                  let enumerate = index
                "
              >
                <td>{{ enumerate + 1 }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.telephone | phone }}</td>
                <td>
                  <button href="" class="btn btn-sm btn-info" (click)="[childView.openViewModal(patient)]">
                    <i-bs name="eye-fill"></i-bs>
                  </button>
                  <button href="" class="btn btn-sm btn-primary" (click)="[childForm.updateForm(patient)]">
                    <i-bs name="pencil-fill"></i-bs>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-model-form #childForm></app-model-form>

<app-modal-view #childView></app-modal-view>


